In [21]:
import pandas as pd
import seaborn as sns

In [22]:
df = pd.read_csv('Churn_Modelling.csv')

In [23]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [24]:
df.shape

(10000, 14)

In [25]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [26]:
# Input data

x = df[['CustomerId', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']]

# Output Data

y = df['Exited']

In [27]:
x

,CustomerId,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15634602,42,2,0.00,1,1,1,101348.88
1,15647311,41,1,83807.86,1,0,1,112542.58
2,15619304,42,8,159660.80,3,1,0,113931.57
3,15701354,39,1,0.00,2,0,0,93826.63
4,15737888,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,15606229,39,5,0.00,2,1,0,96270.64
9996,15569892,35,10,57369.61,1,1,1,101699.77
9997,15584532,36,7,0.00,1,0,1,42085.58
9998,15682355,42,3,75075.31,2,1,0,92888.52
9999,15628319,28,4,130142.79,1,1,0,38190.78

In [28]:
y

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [29]:
sns.countplot(x = y);

ValueError: If using all scalar values, you must pass an index